body
{
	padding-top: 100px;
	text-align:center;
}

#screen
{
	border: solid;
	border-width: 0.5px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 40px;
	padding-bottom: 40px;
	width:200px;
	height:200px;
}

#btns
{
	padding-top:40px;
	padding-right:5px;
}

button
{
	width:60px;
	height:60px;
	margin-left:7px;
	margin-bottom:10px;
}


#btnC
{
	width:130px;
	height:60px;
}
